# Общие настройки, которые обязательно должны быть прописаны.
# Автоматическое определение текстовых файлов и выполнение нормализации LF.
* text eol=lf

# Изображения
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.webp  binary
# SVG по дефолту рассматривается как бинарный.
# Для распознавания как текст, закомментируйте нижнюю строку и раскомментируйте следующую за ней.
#*.svg   binary
*.svg  text

# Шрифты
*.woff  binary
*.woff2 binary

# Исключить файлы из экспорта
.gitattributes export-ignore
.gitignore export-ignore