.article-item
    img.article-item__image(src="images/content/article-item.png")
    .article-item__desc
        .label.article-item__label Общепит
        h1.article-item__title Мир казанских кофеен: почему так расплодились и кому принадлежат?
        .article-item__text Из-за санкций зерно подорожало наполовину, а чашка кофе — на 20%. Наступит ли эра какао и напитков из чайного гриба?
        .article-item__bottom
            a.article-item__comments(href="#")
                span комментарии
                span.comments-count 105
            button.reset-btn.bookmark В закладки