.currency-info
    .currency-info__wrapper
        .currency-info__desc
            img.currency-info__image(src="/images/bank.svg" width="25" alt="")
            .currency-info__text валюта в наличии
        .currency-info__items
            .currency-info__item
                span $
                | 90,38
            .currency-info__item
                span €
                | 100,66