header.header
    .header__wrapper
        button.reset-btn.hamburger
            img(src="images/icons/hamburger.svg" width="20" alt="")
        a(href="#")
            img(src="images/logo.svg" width="171" alt="БИЗНЕС Online")
        button.reset-btn.header__user
            img(src="images/icons/user.svg" width="20" alt="")