.last-news
    .last-news__tabs
        button.reset-btn.last-news__tab.active Все новости
        button.reset-btn.last-news__tab Казань
        button.reset-btn.last-news__tab Закамье
    .last-news__items
        .last-news__item
            time.last-news__time(datetime="11:11") 11:11
            .last-news__text Писательница Татьяна Устинова посетит книжный фестиваль в казанском «Салават Купере»
        .last-news__item
            time.last-news__time(datetime="11:11") 11:11
            .last-news__text Писательница Татьяна Устинова посетит книжный фестиваль в казанском «Салават Купере»
        .last-news__item
            time.last-news__time(datetime="11:11") 11:11
            .last-news__text Писательница Татьяна Устинова посетит книжный фестиваль в казанском «Салават Купере»
    button.reset-btn.last-news__more еще новости