.main-news
    h2.main-news__title Главные новости
    .main-news__items
        .main-news__item
            img.main-news__image(src="images/content/news.png" alt="")
            .main-news__desc В минфине заявили о неизбежности увеличения объема госдолга &nbsp;
                span.comments-count.comments-count_small 125
        .main-news__item
            img.main-news__image(src="images/content/news.png" alt="")
            .main-news__desc В минфине заявили о неизбежности увеличения объема госдолга &nbsp;
                span.comments-count.comments-count_small 125
