.top-info
    .top-info__wrapper
        .weather-info
            .weather-info__wrapper
                .weather-info__item
                    .weather-info__city Казань
                    .weather-info__temperature 23
                        span °С
                .weather-info__item
                    .weather-info__city Москва
                    .weather-info__temperature 15
                        span °С
        .sponsor-info
            .sponsor-info__wrapper
                img.sponsor-info__image(src="images/ak-bars.svg", alt="Ак барс банк" width="68" height="24")
                .sponsor-info__text Эквайринг
                    br
                    | без процентов