@font-face {
  font-display: swap;
  font-family: "Fact";
  src: local("Fact ExtraBold"),local("Fact-ExtraBold"),url("../fonts/Fact-ExtraBold.woff2") format("woff2"),url("../fonts/Fact-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal
}